<?xml version="1.0" ?>
<!-- Macro to insert simple obstacles into the world -->
<world xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Load definition of simple_box -->
  <xacro:include filename="$(find usv_worlds)/worlds/simple_box.xacro" />
  <xacro:include filename="$(find usv_worlds)/worlds/moving_box.xacro" />
  
  <xacro:macro name="moving_obstacles">

    <xacro:simple_box name="box_north" x="100" y="60" Y="200" />
    <xacro:simple_box name="box_south" x="-50" y="60" Y="200" />
    <xacro:simple_box name="box_east" x="25" y="-40" X="150" />
    <xacro:simple_box name="box_west" x="25" y="160" X="150" />

    <!--  Boxes to do dynamic avoidance -->
    <!--<xacro:moving_box name="box_test"/>-->
    



  </xacro:macro>
 
</world>
