<?xml version="1.0" ?>
<!-- Macro to insert simple obstacles into the world -->
<world xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Load definition of simple_box -->
  <xacro:include filename="$(find usv_worlds)/worlds/simple_box.xacro" />
  
  <xacro:macro name="Obstacle_path">
    <!--  Boxes to do static avoidance -->
    <xacro:simple_box name="box_1" x="20" y="10" X="42" Y="2" Z="2" />
    <xacro:simple_box name="box_2" x="30" y="-10" X="62" Y="2" Z="2" />
    <xacro:simple_box name="box_3" x="40" y="30" X="2" Y="40" Z="2" />
    <xacro:simple_box name="box_4" x="60" y="10" X="2" Y="40" Z="2" />
    <xacro:simple_box name="box_5" x="80" y="50" X="82" Y="2" Z="1" />
    <xacro:simple_box name="box_6" x="80" y="30" X="42" Y="2" Z="1" />


  </xacro:macro>
 
</world>


    <!--<xacro:simple_box name="jetty_one" x="-17.5" y="7" z="0.50" X="65" Y="3" Z="1.0" color="Wood" />
    <xacro:simple_box name="jetty_two" x="-7.5" y="64" z="0.50" X="85" Y="4" Z="1.0" color="Wood" />
    <xacro:simple_box name="jetty_three" x="92.5" y="74" z="0.50" X="5" Y="112" Z="1.0" color="Wood" />

    <xacro:simple_box name="box_north2" x="10" y="-20" Y="100" yaw="-1.0" /> -->